{:allowed-branchname-matches ["master"]
 :allowed-filename-matches ["support/"]

 :use-gh-statuses true
 
 :targets 
   {
     :counts {
              ;;:issues 15 ;; coming from the platform. total issues count. Not used, just a placeholder.
             }
     :scores {
              :qualityscore 80 ;; Confirmed with Hugo that you just comment out the single score and leave the structure in place
             }
   }
 
 :guidance-profile "c97ca89d-5eed-4329-87f8-5b8a3e799132" ;; Profile ID for "Microsoft standard"

 :acrolinx-check-settings
 {
  "languageId" "en"
  "ruleSetName" "Standard"
  "requestedFlagTypes" ["SPELLING" "GRAMMAR" "STYLE"
                        "TERMINOLOGY_DEPRECATED"
                        "TERMINOLOGY_VALID"
                        "VOICE_GUIDANCE"
                        ]
  "termSetNames" ["Microsoft"]
  }
 
 :template-header
 
 "

## Acrolinx Scorecards

**A minimum Acrolinx score of 80 is required.**
 
Click the scorecard links for each article to review the Acrolinx feedback on grammar, spelling, punctuation, writing style, and terminology.
| Article | Acrolinx<br>score | Lowest<br>category<br>score | Spelling<br>issues | Scorecard | Processed |
|---------|:--------------:|:--------------------:|:------:|:---------:|:---------:|
"

 :template-change
 "| ${s/file} | ${acrolinx/qualityscore} | ${acrolinx/flags/min-score} | ${acrolinx/flags/spelling} | [link](${acrolinx/scorecard}) | ${s/status} |
"

 :template-footer
 "
**More information about Acrolinx**
 
- [Install Acrolinx locally for VSCode](https://review.docs.microsoft.com/help/contribute/contribute-acrolinx-vscode)
- [Troubleshooting issues with Acrolinx](https://review.docs.microsoft.com/help/contribute/acrolinx-error-messages)
"
}
