log/
obj/
_site/
.optemp/
_themes*/
_repo.*/
.vscode/

.openpublishing.buildcore.ps1
support/developer/visualstudio/debuggers/media/debug-live-azure-apps-troubleshooting/snapshot-troubleshooting-symbol-settings - Copy.png
/.vs/slnx.sqlite
/.vs/Repo/v16/.suo
/.vs/VSWorkspaceState.json
