log/
obj/
_site/
.optemp/
_themes*/
_repo.*/
.vscode/

.openpublishing.buildcore.ps1
support/developer/visualstudio/debuggers/media/debug-live-azure-apps-troubleshooting/snapshot-troubleshooting-symbol-settings - Copy.png
/.vs/SupportArticles-docs-pr/FileContentIndex/dd3a4c00-3b2a-4840-80a8-e80ae4e863c9.vsidx
/.vs/SupportArticles-docs-pr/FileContentIndex/2dff6929-ffbf-4dc9-9cbd-c6bbe509f205.vsidx
/.vs/SupportArticles-docs-pr/FileContentIndex/3d798dbe-7969-4c84-8620-b695f3f1320c.vsidx
/.vs/SupportArticles-docs-pr/FileContentIndex/63e626fa-f3af-462c-aedd-f92facc53165.vsidx
/.vs/SupportArticles-docs-pr/FileContentIndex/782f3833-af97-40c8-bd43-eeb32c25605c.vsidx
/.vs/SupportArticles-docs-pr/FileContentIndex/3bfc0f16-1d28-4cf2-b008-5d61e52b32bc.vsidx
/.vs/SupportArticles-docs-pr/FileContentIndex/8542eb62-fe63-4da6-8ec2-3b1ff70b6839.vsidx
/.vs/SupportArticles-docs-pr/FileContentIndex/ecd5aaf6-8848-479e-8f02-f98d0b84cf82.vsidx
/.vs/slnx.sqlite
/.vs/SupportArticles-docs-pr/FileContentIndex/f0dde8da-5ff2-447e-8ee4-9f6b3bf624b1.vsidx
/.vs/SupportArticles-docs-pr/FileContentIndex/d35d01d4-87b6-4423-9cf7-361f16c26e49.vsidx
/.gitignore
*.vsidx
/.gitignore
