/support/azure/*  @kaushika-msft
/support/windows-server/*  @kaushika-msft
/support/windows-client/*  @kaushika-msft
/support/microsoft-identity-manager/* @kaushika-msft
/support/mem/* @kaushika-msft
/support/system-center/* @kaushika-msft
/support/visualstudio/*  @daleche-sh @ramakoni1
/Exchange/*  @cloud-writer
/Microsoft365/*  @cloud-writer
/Office/*  @cloud-writer
/Outlook/*  @cloud-writer
/SharePoint/*  @cloud-writer
/SkypeForBusiness/*  @cloud-writer
/Teams/*  @cloud-writer
/Viva/*  @cloud-writer
